doctype html
html
    header
        title JS. Панель управления
    body
        h2 Результаты тестов:
        table(border=1)
            tr
                th email
                th правильных ответов
                th завершил?
            each item in list
                tr
                    td #{item.email}
                    td #{item.summary}
                    td #{item.complete}
        
