doctype html
html
    header
        title JS. Панель управления
    body
        h2 Результаты тестов:
        ul
            each email, summary, complete in list
                li email - summary - complete
        
