doctype html
html
    header
        title JS. Проверь свои знания
    body
        h1 Вопрос №10
        h3 Чему равна переменная name ?
        code
            pre.
                
        form(method='post')
            div
                input(type="radio" id="answ0" name="answ" value="0") 
                label(for="answ0") дудкин
            div
                input(type="radio" id="answ1" name="answ" value="1") 
                label(for="answ1") дупкин
            div
                input(type="radio" id="answ2" name="answ" value="2") 
                label(for="answ2") пупкин
            div
                input(type="radio" id="answ3" name="answ" value="3") 
                label(for="answ3") ляпкин-тяпкин

            input(type='submit')
        