doctype html
html
    header
        title JS. Проверь свои знания
    body
        h1 Вопрос №9
        h3 Какая арифметическая операция приводит к ошибке в javascript?
        code
            pre.
                
        form(method='post')
            div
                input(type="radio" id="answ0" name="answ" value="0") 
                label(for="answ0") Деление на ноль
            div
                input(type="radio" id="answ1" name="answ" value="1") 
                label(for="answ1") Умножение числа на строку
            div
                input(type="radio" id="answ2" name="answ" value="2") 
                label(for="answ2") Корень из отрицательного числа
            div
                input(type="radio" id="answ3" name="answ" value="3") 
                label(for="answ3") Никакая из вышеперечисленных

            input(type='submit')
        