doctype html
html
    header
        title JS. Проверь свои знания
    body
        h1 Вопрос №3
        h3 Есть ли разница между выражениями?
        code
            pre. 
                !!( a && b )
                (a && b)                
        form(method='post')
            div
                input(type="radio" id="answ0" name="answ" value="0") 
                label(for="answ0") Да
            div
                input(type="radio" id="answ1" name="answ" value="1") 
                label(for="answ1") Нет
            div
                input(type="radio" id="answ2" name="answ" value="2") 
                label(for="answ2") В коде ошибка, что еще за "!!" ?

            input(type='submit')
        