doctype html
html
    header
        title JS. Проверь свои знания
    body
        h1 Вопрос №6
        h3 6. Что делает оператор ===?
        code
            pre.
                
        form(method='post')
            div
                input(type="radio" id="answ0" name="answ" value="0") 
                label(for="answ0") Сравнивает по ссылке, а не по значению
            div
                input(type="radio" id="answ1" name="answ" value="1") 
                label(for="answ1") Сравнивает без приведения типа 
            div
                input(type="radio" id="answ2" name="answ" value="2") 
                label(for="answ2") Нет такого оператора

            input(type='submit')
        