doctype html
html
    header
        title JS. Проверь свои знания
    body
        h1 Вопрос №8
        h3 Чему равно i в конце кода ?
        code
            pre.
                var i = 5
                {
                    var i = 1
                }
        form(method='post')
            div
                input(type="radio" id="answ0" name="answ" value="0") 
                label(for="answ0") 1
            div
                input(type="radio" id="answ1" name="answ" value="1") 
                label(for="answ1") 5
            div
                input(type="radio" id="answ2" name="answ" value="2") 
                label(for="answ2") В коде ошибка

            input(type='submit')
        