doctype html
html
    header
        title JS. Проверь свои знания
    body
        h2 Онлайн тест - результаты
        p Ваш емайл: #{email}
        p Правильных ответов: #{cnt} из #{total}
        hr
        a(href=reseturl) пройти ещё раз
        
